.main {
  /* text-align: center; */
  /* display: flex;  */
  min-height: 10vh;
  align-items: center;
  /* justify-content: center;  */
  /* background-color: aqua; */
  /* display : flex; */

}

.data {
  flex-direction: row;
  display: flex;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

button {
  display: flex;
  justify-content: center;
}

.main .table-dev {
  align-items: center;
 
  margin: 1%;
}

.add-dev-form {
  font-size: 20px;
  color: #000000;
  
  text-align: left;
  float: left;
  padding: 5px;
  margin: 5px;
  
  width: 95%;
}

.add-dev-form input {
  font-size: 15px;
  margin: 2px;
  display: inline;
}

.add-dev-form label {
  font-size:15px;
  vertical-align: middle;
  margin-right: 2px;
  margin-left: 25px;
  display: inline;
}